/* Colours */
/* Main */
body {
  background-color: #ebebf2;
  font-family: Quicksand;
  color: #312f35;
  letter-spacing: 1px;
}
body::-webkit-scrollbar {
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #c0c1cc;
}

.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.content {
  width: 100%;
  text-align: center;
}

.section__content {
  margin: 16px;
  padding: 0px 16px;
}
.section__title {
  margin-top: 80px;
  margin-bottom: 32px;
}

/* Text */
h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  text-transform: uppercase;
  margin: 2px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
}
a:visited {
  color: #312f35;
}

/* Page Sections */
.intro {
  max-width: 400px;
  margin: 100px auto;
  margin-bottom: 24px;
}
.intro__img {
  width: 250px;
  height: 250px;
}

.skills__icon {
  width: 30px;
  height: 30px;
}
.contact a {
  display: inline-block;
  position: relative;
}
.contact svg {
  width: 50px;
  height: 50px;
  padding: 8px 24px;
}
.contact svg path {
  fill: #312f35;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: fill 0.5s ease-in-out;
  -ms-transition: fill 0.5s ease-in-out;
  -moz-transition: fill 0.5s ease-in-out;
  -o-transition: fill 0.5s ease-in-out;
}
.contact svg:hover path {
  fill: #f40056;
}

.skill__section {
  position: relative;
  margin-top: 100px;
  margin-bottom: 24px;
}
.skill__label {
  font-size: 5rem;
  font-weight: 600;
  color: #c0c1cc;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -64px;
  z-index: -1;
  pointer-events: none;
  transition: font-size 0.5s ease-in-out;
  -webkit-transition: font-size 0.5s ease-in-out;
  -ms-transition: font-size 0.5s ease-in-out;
  -moz-transition: font-size 0.5s ease-in-out;
  -o-transition: font-size 0.5s ease-in-out;
}

.footer {
  margin: 90px 0px;
}
.footer__text {
  font-size: 0.8rem;
}
.footer__logo {
  width: 30px;
  height: 30px;
}

/* Media Queries */
@media (max-width: 900px) {
  .skill__label {
    margin-top: 8px;
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  .skill__label {
    font-size: 3rem;
    margin-top: 24px;
  }

  .contact a {
    display: block;
  }
}
/* Imports */
/* Colours */
.sidenav {
  position: relative;
  height: 100%;
  width: 100px;
}
.sidenav__logo {
  position: fixed;
  margin: 24px;
  height: 45px;
  width: 45px;
  z-index: 10;
  cursor: pointer;
}
.sidenav__list {
  position: fixed;
  top: 150px;
}
.sidenav__item {
  font-weight: 600;
  list-style-type: none;
  margin: 36px 0;
  cursor: pointer;
  color: #312f35;
  -webkit-transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.sidenav__item:hover {
  color: #f40056;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .sidenav {
    width: auto;
  }
  .sidenav__logo {
    position: absolute;
  }
  .sidenav__item {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
/* Colours */
.project-card {
  padding: 64px 32px;
  width: 50%;
  margin: 32px auto;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: #312f35;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
}
.project-card--open {
  pointer-events: none;
}
.project-card .over {
  opacity: 0;
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.project-card .under {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 100%;
  position: absolute;
  background-color: #f40056;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.project-card:hover .over {
  opacity: 1;
}
.project-card:hover .under {
  top: -75%;
  left: 0;
  border-radius: 0px;
  width: 100%;
  height: 300%;
}
.project-card__title {
  margin: 4px;
}
.project-card__icon {
  width: 20px;
  height: 20px;
  padding: 4px;
}
.project-card button {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: Quicksand;
  color: white;
  letter-spacing: 1px;
}

@media (max-width: 900px) {
  .project-card {
    width: 75%;
  }
  .project-card:hover .under {
    top: -50%;
    height: 200%;
  }
}
@media (max-width: 480px) {
  .project-card:hover .under {
    top: -20%;
    height: 120%;
  }
}
/* Colours */
.timeline-card {
  width: 100%;
  transition: margin 0.5s ease-in-out;
  -webkit-transition: margin 0.5s ease-in-out;
  -ms-transition: margin 0.5s ease-in-out;
  -moz-transition: margin 0.5s ease-in-out;
  -o-transition: margin 0.5s ease-in-out;
}
.timeline-card__circle--top, .timeline-card__circle--bot {
  background-color: #f40056;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.timeline-card__circle--top {
  top: 8px;
}
.timeline-card__circle--bot {
  top: -8px;
}
.timeline-card__line {
  width: 0;
  height: 180px;
  position: relative;
  border: 3px solid #f40056;
  margin: 0 auto;
}
.timeline-card__title {
  font-size: 0.9rem;
}
.timeline-card__text {
  font-size: 0.7rem;
  color: #8f8f99;
  margin: 0;
}
.timeline-card__content--left, .timeline-card__content--right {
  position: absolute;
  background: white;
  width: 240px;
  height: 80px;
  margin-top: -128px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.timeline-card__content--left::after, .timeline-card__content--right::after {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  top: 25px;
  border-width: 15px;
  border-style: solid;
}
.timeline-card__content--left:hover, .timeline-card__content--right:hover {
  transform: scale(1.04);
  color: #f40056;
}
.timeline-card__content--left {
  right: 50%;
}
.timeline-card__content--left::after {
  border-color: transparent transparent transparent white;
  left: 240px;
}
.timeline-card__content--right {
  left: 50%;
  margin-left: 90px;
}
.timeline-card__content--right::after {
  border-color: transparent white transparent transparent;
  right: 240px;
}

@media (max-width: 900px) {
  .timeline-card {
    margin-left: -180px;
  }
  .timeline-card__content--left, .timeline-card__content--right {
    margin-left: -80px;
  }
  .timeline-card__content--left {
    left: 50%;
  }
  .timeline-card__content--left::after {
    border-color: transparent white transparent transparent;
    left: auto;
    right: 240px;
  }
}
@media (max-width: 480px) {
  .timeline-card {
    margin-left: -130px;
  }
}
/* Colours */
.skill-icon {
  display: inline-flex;
  width: auto;
  height: auto;
  margin: 0px 6px;
  align-items: center;
  justify-content: center;
}
.skill-icon__icon {
  width: 30px;
  height: 30px;
}
.skill-icon__label {
  opacity: 0;
  padding: 8px 16px;
  background: #f40056;
  border-radius: 8px;
  color: white;
  position: absolute;
  top: -48px;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.skill-icon__label p {
  margin: 0;
}
.skill-icon__label::after {
  border-left: solid transparent 6px;
  border-right: solid transparent 6px;
  border-top: solid #f40056 6px;
  content: "";
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 100%;
  width: 0;
}
.skill-icon:hover .skill-icon__label {
  opacity: 1;
}

/* Colours */
.modal {
  width: 400px;
  padding: 16px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-40%, -50%);
  position: absolute;
  background: white;
  outline: none;
  text-align: center;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.modal h2 {
  padding-top: 20px;
}
.modal p {
  font-size: 0.8rem;
  padding: 8px;
  padding-bottom: 0;
}
.modal__button {
  background: none;
  padding-bottom: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #f40056;
}

.ReactModalPortal > * {
  opacity: 0;
}

.ReactModal__Overlay {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  background: rgba(0, 0, 0, 0.15) !important;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media (max-width: 480px) {
  .modal {
    width: 300px;
    transform: translate(-50%, -50%);
  }
}

/*# sourceMappingURL=index.css.map */
