/* Colours */
/* Main */
body {
  background-color: #ebebf2;
  font-family: Quicksand;
  color: #312f35;
  letter-spacing: 1px;
}
body::-webkit-scrollbar {
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #c0c1cc;
}

h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  text-transform: uppercase;
  margin: 2px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
}
a:visited {
  color: #312f35;
}

.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.content {
  width: 100%;
  text-align: center;
}

.section__content {
  margin: 16px;
}
.section__title {
  margin-top: 80px;
  margin-bottom: 32px;
}

.footer {
  margin: 90px 0px;
}
.footer__text {
  font-size: 0.8rem;
}
.footer__logo {
  width: 30px;
  height: 30px;
}

.contact a {
  display: inline-block;
  position: relative;
}
.contact svg {
  width: 50px;
  height: 50px;
  padding: 8px 24px;
}
.contact svg path {
  fill: #312f35;
  transition: fill 0.5s ease-in-out;
}
.contact svg:hover path {
  fill: #f40056;
}

/* Colours */
.sidenav {
  position: relative;
  height: 100%;
  width: 100px;
}
.sidenav__logo {
  position: fixed;
  margin: 24px;
  height: 45px;
  width: 45px;
  z-index: 10;
  cursor: pointer;
}
.sidenav__list {
  position: fixed;
  top: 150px;
}
.sidenav__item {
  font-weight: 600;
  list-style-type: none;
  margin: 36px 0;
  cursor: pointer;
  color: #312f35;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.sidenav__item:hover {
  color: #f40056;
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .sidenav__item {
    transform: scale(0);
  }
}
@media (max-width: 480px) {
  .sidenav {
    width: auto;
  }
}
.intro {
  max-width: 400px;
  margin: 100px auto;
  margin-bottom: 24px;
}
.intro__img {
  width: 250px;
  height: 250px;
}

/* Colours */
.project-card {
  padding: 64px 32px;
  width: 50%;
  margin: 32px auto;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: #312f35;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transition: width 1s ease-in-out;
}
.project-card .over {
  opacity: 0;
  transition: opacity 0.5s;
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
}
.project-card .under {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 100%;
  position: absolute;
  background-color: #f40056;
  transition: all 0.5s ease-in-out;
}
.project-card:hover .over {
  opacity: 1;
}
.project-card:hover .under {
  top: -75%;
  left: 0;
  border-radius: 0px;
  width: 100%;
  height: 300%;
}
.project-card__title {
  margin: 4px;
}
.project-card__icon {
  width: 20px;
  height: 20px;
  padding: 4px;
}

@media (max-width: 900px) {
  .project-card {
    width: 75%;
  }
  .project-card:hover .under {
    top: -50%;
    height: 200%;
  }
}
@media (max-width: 480px) {
  .project-card:hover .under {
    top: -20%;
    height: 120%;
  }
}
@media (max-width: 400px) {
  .project-card {
    background-size: auto 100%;
  }
}
/* Colours */
.timeline-card {
  width: 100%;
  transition: margin 1s;
}
.timeline-card__circle--top, .timeline-card__circle--bot {
  background-color: #f40056;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.timeline-card__circle--top {
  top: 8px;
}
.timeline-card__circle--bot {
  top: -8px;
}
.timeline-card__line {
  width: 0;
  height: 180px;
  position: relative;
  border: 3px solid #f40056;
  margin: 0 auto;
}
.timeline-card__title {
  font-size: 0.9rem;
}
.timeline-card__text {
  font-size: 0.7rem;
  color: #8f8f99;
  margin: 0;
}
.timeline-card__content--left, .timeline-card__content--right {
  position: absolute;
  background: white;
  width: 240px;
  height: 80px;
  margin-top: -128px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.timeline-card__content--left::after, .timeline-card__content--right::after {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  top: 25px;
  border-width: 15px;
  border-style: solid;
}
.timeline-card__content--left:hover, .timeline-card__content--right:hover {
  transform: scale(1.04);
  color: #f40056;
}
.timeline-card__content--left {
  right: 50%;
}
.timeline-card__content--left::after {
  border-color: transparent transparent transparent white;
  left: 240px;
}
.timeline-card__content--right {
  left: 50%;
  margin-left: 90px;
}
.timeline-card__content--right::after {
  border-color: transparent white transparent transparent;
  right: 240px;
}

@media (max-width: 900px) {
  .timeline-card {
    margin-left: -180px;
  }
  .timeline-card__content--left, .timeline-card__content--right {
    margin-left: -80px;
  }
  .timeline-card__content--left {
    left: 50%;
  }
  .timeline-card__content--left::after {
    border-color: transparent white transparent transparent;
    left: auto;
    right: 240px;
  }
}
@media (max-width: 480px) {
  .timeline-card {
    margin-left: -130px;
  }
}

/*# sourceMappingURL=index.css.map */
