@import 'colors.scss';
@import 'mixins.scss';

/* Main */
body{
    background-color: $grey-1;
    font-family: Quicksand;
    color: $grey-7;
    letter-spacing: 1px;
    &::-webkit-scrollbar {
        height: 5px;
        &-thumb {
          background: $grey-3;
        }
      }
}

.main{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.content{
    width: 100%;
    text-align: center;
}

.section{
    &__content{
        margin: 16px;
        padding: 0px 16px;
    }
    &__title{
        margin-top: 80px;
        margin-bottom: 32px;
    }
}

/* Text */

h1{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2{
    text-transform: uppercase;
    margin: 2px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
}

a{
    text-decoration: none;
    &:visited{
        color: $grey-7;
    }
}

/* Page Sections */

.intro{
    max-width: 400px;
    margin: 100px auto;
    margin-bottom: 24px;
    &__img{
        width: 250px;
        height: 250px;
    }
}

.skills{
    &__icon{
        width: 30px;
        height: 30px;
        &:hover{
            
        }
    }
}

.contact{
    & a {
    display: inline-block;
    position: relative;
    }
    & svg{
        width: 50px;
        height: 50px;
        padding: 8px 24px;
        & path {
            fill: $grey-7;
            @include transition-all(fill, 0.5s, ease-in-out);
        }
        &:hover path {
            fill: $primary-magenta;
        }
    }
}

.skill{
    &__section{
        position: relative;
        margin-top: 100px;
        margin-bottom: 24px;
    }
    &__label{
        font-size: 5rem;
        font-weight: 600;
        color: $grey-3;
        position: absolute;
        left: 0; right: 0;
        margin: auto;
        top: -64px;
        z-index: -1;
        pointer-events: none;
        @include transition-all(font-size, 0.5s, ease-in-out);
    }
}

.footer{
    margin: 90px 0px;
    &__text{
        font-size: 0.8rem;
    }
    &__logo{
        width: 30px;
        height: 30px;
    }
}

/* Media Queries */

@include tablet(){
    .skill__label{
        margin-top: -48px;
        font-size: 4rem;
    }
}

@include phone(){
    .contact a {
        display: block;
    }
    .skill__label{
        font-size: 3rem;
        margin-top: -38px;
    }
}

/* Imports */

@import 'sidenav';
@import 'projectcard';
@import 'timelinecard';
@import 'skillicon';