@import 'colors.scss';

/* Main */
body{
    background-color: $grey-1;
    font-family: Quicksand;
    color: $grey-7;
    letter-spacing: 1px;
    &::-webkit-scrollbar {
        height: 5px;
        &-thumb {
          background: $grey-3;
        }
      }
}

h1{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.main{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}


@import 'sidenav';
@import 'intro';