@import 'colors';
@import 'mixins.scss';

.project-card{
    padding: 64px 32px;
    width: 50%;
    margin: 32px auto;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: $grey-7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include transition-all(width, 0.5s, ease-in-out);
    &--open{
        pointer-events: none;
    }

    & .over{
        opacity: 0;
        position: relative;
        z-index: 10;
        background-color: rgba(0,0,0,0);
        @include transition-all(opacity, 0.5s, ease-in-out);
    }
    & .under {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 100%;
        position: absolute;
        background-color: $primary-magenta;
        @include transition-all(all, 0.5s, ease-in-out);
    }
    
    &:hover .over{
        opacity: 1;
    }
    &:hover .under{
        top: -75%;
        left: 0;
        border-radius: 0px;
        width: 100%;
        height: 300%;
    }
    &__title{
        margin: 4px;
    }
    &__icon{
        width: 20px;
        height: 20px;
        padding: 4px;
    }
}

@include tablet(){
    .project-card{ 
        width: 75%;
        &:hover .under{
            top: -50%;
            height: 200%;
        }
    }
}

@include phone(){
    .project-card{
        &:hover .under{
            top: -20%;
            height: 120%;
        }
    }
}