@import 'colors.scss';

.sidenav {
    position: relative;
    height: 100%;
    width: 100px;

    &__logo{
        position: fixed;
        margin: 24px;
        height: 45px;
        width: 45px;
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__list{
        position: fixed;
        top: 150px;
    }
    &__item{
        font-weight: 600;
        list-style-type: none;
        margin: 36px 0;
        cursor: pointer;
        transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
        &:hover {
            color: $primary-magenta;
            transform: scale(1.1);
        }
    }
}