@import 'colors.scss';
@import 'mixins.scss';

.sidenav {
    position: relative;
    height: 100%;
    width: 100px;

    &__logo{
        position: fixed;
        margin: 24px;
        height: 45px;
        width: 45px;
        z-index: 10;
        cursor: pointer;
    }
    &__list{
        position: fixed;
        top: 150px;
    }
    &__item{
        font-weight: 600;
        list-style-type: none;
        margin: 36px 0;
        cursor: pointer;
        color: $grey-7;
        transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
        &:hover {
            color: $primary-magenta;
            transform: scale(1.1);
        }
    }
}


@include phone(){
    .sidenav{
        width: auto;
        &__item{
            transform: scale(0);
        }
    }
}